<div class="container {{ModeClass}}">
  <div class="container-before" [@container]="containerState" [style.background]="Member.Color"></div>
  <div class="forms-container">
    <div class="signin-signup">
      <form action="#" class="sign-in-form">
        <h2 class="title">Sign in</h2>
        <div class="input-field">
          <i class="fas fa-user"></i>
          <input type="text" placeholder="Username" />
        </div>
        <input type="submit" value="Login" class="btn solid" (click)="OnToggleMode($event)"/>
      </form>
      <form action="#" class="sign-up-form">
        <div>
          <h2 class="title">You are logged in as [username]</h2>
          <div>
            <input type="submit" class="btn-logout" value="Logout" (click)="OnToggleMode($event)"/>
          </div>
          <div>
            <input type="submit" class="btn" value="SM Current" (click)="OnToggleMode($event)"/>
            <input type="submit" class="btn" value="4.3.71" (click)="OnToggleMode($event)"/>
            <input type="submit" class="btn" value="4.3.70" (click)="OnToggleMode($event)"/>
            <input type="submit" class="btn" value="4.3.69" (click)="OnToggleMode($event)"/>
            <input type="submit" class="btn" value="4.3.55" (click)="OnToggleMode($event)"/>
            <input type="submit" class="btn" value="local: 3000" (click)="OnToggleMode($event)"/>
            <input type="submit" class="btn" value="local: 4372" (click)="OnToggleMode($event)"/>
            <input type="submit" class="btn" value="local: 3071" (click)="OnToggleMode($event)"/>
          </div>
          <div>
            <input type="submit" class="btn-oib" value="OIB Current" (click)="OnToggleMode($event)"/>
            <input type="submit" class="btn-oib" value="1.0.0" (click)="OnToggleMode($event)"/>
            <input type="submit" class="btn-oib" value="Demo" (click)="OnToggleMode($event)"/>
            <input type="submit" class="btn-oib" value="LB" (click)="OnToggleMode($event)"/>
            <input type="submit" class="btn-oib" value="localhost" (click)="OnToggleMode($event)"/>
          </div>
          <div>
            <input type="submit" class="btn-ares" value="ARES" (click)="OnToggleMode($event)"/>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="panels-container">
    <div class="panel left-panel" [@leftPanel]="leftPanelState">
      <div class="content">
        <h3>Prepare yourself for the <span class="font-100">100</span><span class="font-101">TH</span> Release of DST</h3>
      </div>
      <div class="character">
        <div class="character-team">Meet the team</div>
        <div class="character-name">{{Member.Name}}</div>
        <div class="character-image">
          <button class="character-button-left" (click)="GetPreviousMember()">left</button>
          <img [src]="Image" class="image" alt="" />
          <button class="character-button-right" (click)="GetNextMember()">right</button>
        </div>
        <div>...</div>
      </div>
    </div>
    <div class="panel right-panel" [@rightPanel]="rightPanelState">
      <div class="content">
          <h3>Prepare yourself for the <span class="font-100">100</span><span class="font-101">TH</span> Release of DST</h3>
        </div>
        <div class="character">
          <div class="character-team">Meet the team</div>
          <div class="character-name">{{Member.Name}}</div>
          <div class="character-image">
            <button class="character-button-left">left</button>
            <img [src]="Image" class="image" alt="" />
            <button class="character-button-right">right</button>
          </div>
          <div>...</div>
        </div>
    </div>
  </div>
</div>
